/**
  * Name: iseo
  * Version: 1.0
  * Author: Themesflat
  * Author URI: http://www.themesflat.com
*/

@import url("font-awesome.css");
@import url("simple-line-icons.css");
@import url("flexslider.css");
@import url("owl.carousel.css");
@import url("shortcodes.css");
@import url("revolution-slider.css");
@import url("magnific-popup.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i,800,800i|Poppins:400,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i");

/**
  *	Reset
  *	Repeatable Patterns
  *	Top 
  *	Social-links
  *	Header
  *	Mobile navigation
  *	Page title
  *	Breadcrumbs
  *	Blog
  *	Blog Single
  *	Pagination
  *	Gird for page single
  *	Sidebar
  *	GoTop Button
  *	Footer
  *	Footer widget
  *	Page About
  *	Bottom
  *	Revolution Slider
  *	Preload
  *	Parallax
  *	Switcher
  *	Boxed
  *	Site-off-canvas
  *	Porfolio Detail
*/

/* Reset
-------------------------------------------------------------- */
	html {
		overflow-y: scroll;
		-webkit-text-size-adjust: 100%;
		   -ms-text-size-adjust: 100%;
	}

	body {
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-webkit-text-size-adjust: 100%;
		   -ms-text-size-adjust: 100%;
	}

	a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, caption, canvas, center, cite, code,
	dd, del, details, dfn, dialog, div, dl, dt, em, embed, fieldset, figcaption, figure, form, footer, header, hgroup, h1, h2, h3, h4, h5, h6, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav,object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, tt, table, tbody, textarea, tfoot, thead, time, tr, th, td, u, ul, var, video  { 
		font-family: inherit; 
		font-size: 100%; 
		font-weight: inherit; 
		font-style: inherit; 
		vertical-align: baseline; 
		margin: 0; 
		padding: 0; 
		border: 0; 
		outline: 0;
		background: transparent;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
		display: block;
	}
	                          
	ol, ul {
		list-style: none;
	}

	blockquote, q { 
		-webkit-hyphens: none;
		  -moz-hyphens: none;
		   -ms-hyphens: none;
		       hyphens: none;
		        quotes: none;
	}

	figure {
		margin: 0;
	}

	:focus {
		outline: 0;
	}

	table { 
		border-collapse: collapse; 
		border-spacing: 0;
	}

	img {
		border: 0;
		-ms-interpolation-mode: bicubic;
		vertical-align: middle;
	}

	legend {
		white-space: normal;
	}

	button,
	input,
	select,
	textarea {
		font-size: 100%;
		margin: 0;
		max-width: 100%;
		vertical-align: baseline;
		-webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		       box-sizing: border-box;
	}

	button,
	input {
		line-height: normal;
	}

	input,
	textarea {
		background-image: -webkit-linear-gradient(hsla(0,0%,100%,0), hsla(0,0%,100%,0)); /* Removing the inner shadow, rounded corners on iOS inputs */
	}

	button,
	input[type="button"],
	input[type="reset"],
	input[type="submit"] {
		line-height: 1;
		cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
		-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
		border: none;
	}

	input[type="checkbox"],
	input[type="radio"] {
		padding: 0; /* Addresses excess padding in IE8/9 */
	}

	input[type="search"] {
		-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	}

	input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
		-webkit-appearance: none;
	}

	button::-moz-focus-inner,
	input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
		border: 0;
		padding: 0;
	}

	*,
	*:before,
	*:after {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
	}	

/* Repeatable Patterns
-------------------------------------------------------------- */
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

body {
	font: 14px/25px "Poppins", sans-serif;
	font-weight: 400;
	background-color: #fff;		
	color: #5e646b;
}

a {		
	text-decoration: none;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

a:hover,
a:focus {
	color: #00aeff;
	text-decoration: none;
	outline: 0;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

ul, ol {
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;		
}

.img-right {
	margin: 0 0 0 50px !important;
	float: right;
}

b, strong {
	font-weight: 900;
}

.entry-page p {
	margin-bottom: 25px;
}

button {
	border: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {		
    display: inline-block;
    color: #fff; 
    padding: 0 30px 0 30px;
    height: 45px;
    line-height: 45px;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    background: #00aeff;
    border: 1px solid #00aeff;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;    
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    position: relative;	
   -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
       -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
           transition: all 0.3s ease-in-out;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {	
	position: relative;
    display: block;
    width: 100%;
    line-height: 24px;
    padding: 8px 15px;
    color: #222222;
    border: 1px solid #d0d0d0;
    height: 45px;
    border-radius: 3px;   
    margin-bottom: 20px;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus {
	border: 1px solid #00aeff;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

textarea {
	width: 100%;
	padding: 10px 15px;    
    height: 170px;
}

input[type="checkbox"] {
	display: inline;
}

textarea:-moz-placeholder,
textarea::-moz-placeholder,
input:-moz-placeholder,
input::-moz-placeholder {		
	color: #3d3d3d;
	opacity: 1;
}

input:-ms-input-placeholder {
	color: #3d3d3d;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
	color: #3d3d3d;
	opacity: 1;
}

/* bootstrap resetting elements */
.btn {
	background-image: none;
}

textarea, 
input[type="text"],
input[type="submit"],
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
	-webkit-appearance: none;
	text-shadow: none;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
	     -o-box-shadow: none;
	        box-shadow: none;
	color: #fff;
}

.blog-single .entry p {
	margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

h1 { font-size: 36px; line-height: 40px; }
h2 { font-size: 18px; line-height: 22px; }
h3 { font-size: 16px; line-height: 20px; }
h4 { font-size: 14px; line-height: 18px; }

.blog-single blockquote {
    padding: 30px 20px 38px 35px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    position: relative;
    font-size: 15px;    
    letter-spacing: 1.5px;
}

.blog-single blockquote::before {
    content: "''";
    position: absolute;
    top: 22px;
    left: 7px;
    color: #00aeff;
    font-size: 49px;
    font-weight: 100;
    font-style: italic;
    z-index: 1;
}

.blog-single .img-left {
	float: left;	
	margin-right: 20px;
	margin-bottom: 20px;
}

.blog-single .content-post:after, 
.blog-single .content-post:before,
.blog-single .entry:after,
.blog-single .entry:before {
    content: "";
    display: table;
    clear: both;
}

/* Top 
---------------------------------------------------------------*/
.flat-information,
.flat-analysis,
.flat-language {
	float: left;
}

.flat-language,
.flat-analysis {
	width: 13%;
}

.flat-information {
	width: 74%;
	text-align: center;
}

.flat-language {
    position: relative;
    padding-left: 23px;
}

.flat-language:before {
    position: absolute;
    left: 0;
    top: 0;
    content: "\f0ac";
    font-family: "FontAwesome";
    font-size: 16px;
}

.flat-language .current a {
    position: relative;
    padding: 0 15px 0 5px;
}

.flat-language .current > a:after {
    content: "\f107";
    font-family: "FontAwesome";
    font-size: 12px;
    position: absolute;
    right: 0;
    top: -2px;
}

.flat-language .current > a {
    font-weight: 700;
    color: #fff;
}

.flat-language .current > a:hover {
	color: #00aeff;
}

.flat-language .current:hover ul {
	opacity: 1;
	visibility: visible;
	margin-top: 11px;
}

.flat-language > ul > li > ul {
    position: absolute;
    right: 0;
    top: 100%;
    width: 130px;
    margin-top: 15px;
    background-color: #00aeff;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
    -webkit-transition: all .2s ease-out;
       -moz-transition: all .2s ease-out;
        -ms-transition: all .2s ease-out;
         -o-transition: all .2s ease-out;
            transition: all .2s ease-out;
}

.flat-language > ul > li > ul li {
	padding: 1px 0 2px 15px;	
}

.flat-language > ul > li > ul li a {
	color: #fff;
}

.top {
	background-color: #273039;	
	color: #fff;
	padding: 11px 0;
	font-size: 13px;
}

.flat-analysis {
	margin: -11px 0 -11px;	
}

.flat-analysis i {
	font-size: 18px;
	margin-right: 9px;
	position: relative;
	top: 4px;
}

.flat-analysis a {
	display: block;
    height: 100%;
    background: rgb(53, 66, 79);
    color: #fff;
    padding: 11px 20px 11px 18px;
    font-size: 12px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
    font-family: "Poppins", sans-serif;
    font-weight: 700;  
}    

.flat-analysis a:hover {
	background: #00aeff;
	color: #fff;
}

/* Infomation top */
.flat-information {
	margin: 0 0;
	padding: 0 0 0 55px;		
}

.flat-information > li {
	display: inline-block;
	position: relative;
	margin-right: 30px;
	padding-left: 20px;
}

.flat-information > li:before {
	position: absolute;
	left: 0;
	top: 0;
	font-family: "FontAwesome";
	content: "\f095";
	color: #fff;
}

.flat-information > li.email:before {
	content: "\f0e0";
}

.flat-information > li.address:before {
	content: "\f041";
}

.flat-information > li > a {
	color: #fff;	
}

.flat-information > li > a:hover {
	color: #00aeff;
}

/* Social-links
-------------------------------------------------------------- */
.social-links {
	padding: 0;
	margin: 0;
	text-align: right;
}

.social-links a {
	display: inline-block;
	padding: 0 13px;
	line-height: 50px;
	font-size: 14px;
	color: #c2c2c2;
}

.social-links a:hover {
	color: #eab702;
}

/* Header
-------------------------------------------------------------- */
.header {	
    background-color: rgba(255, 255, 255, 0.9);
    border-bottom: 1px solid #f1f1f1;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

.header .logo {	
	width: 185px;
	height: 36px;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
	margin: 20px 200px 0 0;	
}

/* Header Fix */
.header.downscrolled, .header.header-absolute.downscrolled {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
    opacity: 0;
    top: -121px;
    -webkit-transition: all 0.5s ease-in-out;
       -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
         -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
}

.header.upscrolled, .header.header-absolute.upscrolled {
    opacity: 1;
    top: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.header.header-absolute.upscrolled {
	background-color: rgba( 0, 0, 0, 0.5);
}

/* header header-absolute */
.header.header-absolute {
	position: absolute;
	width: 100%;
	z-index: 999;
	background-color: transparent;
	border-bottom: 0;
}

.header.header-absolute #mainnav > ul > li > a,
.header.header-absolute .nav-contact .contact-text,
.header.header-absolute .menu.menu-extra li a {
	color: #fff;
}

/* Menu menu-extra */
.menu.menu-extra {
	float: right;	
	position: relative;
}

.menu.menu-extra li {
	float: left;
}

.menu.menu-extra li a {
	color: #1c1c1c;
	padding: 0 20px;
	line-height: 90px;
	height: 90px;
}

.menu.menu-extra li.cart {
	position: relative;
}

.menu.menu-extra li a:hover {
	color: #00aeff;
}

/* Navigation */
.nav-wrap {
	position: relative;	
}

#mainnav > ul {
	text-align: right;
}

#mainnav ul {
   list-style: none;
   margin: 0;
   padding: 0;
}

#mainnav ul li {
   position: relative;
}

#mainnav > ul > li {
   display: inline-block;   
}

#mainnav > ul > li > a {   
    font-weight: 600;
    color: #424242;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    line-height: 90px;    
    margin: 0 25px 0 25px;   
    display: inline-block;
}

/* submenu */
#mainnav ul.submenu {
	text-align: left;
   	position: absolute;
   	left: 0;
   	top: 150%;
   	width: 200px;
   	background-color: #222222;
   	z-index: 9999;
    filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
   	  filter: alpha(opacity=0);
     opacity: 0;  
   visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

#mainnav ul.submenu:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #00aeff;
}

/* Right sub-menu */
#mainnav ul.right-sub-menu {
    left: auto;
    right: 0;
}

#mainnav ul li:hover > ul.submenu {
	top: 100%;
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
       filter: alpha(opacity=100);
      opacity: 1;
   visibility: visible;
}

#mainnav ul li ul li {
   margin-left: 0;
}

#mainnav ul.submenu li ul {
   position: absolute;
   left: 300px;
   top: 0 !important;
}

#mainnav ul.submenu > li {
   border-top: 1px solid #333333;  
}

#mainnav ul.submenu > li.sub-parent:after {
	content: "\f105";
   	font-family: "FontAwesome";
   	font-size: 14px;
   	position: absolute;
   	right: 25px;
   	top: 11px;
   	color: #999999;
   -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;

}

#mainnav ul.submenu li:first-child {
   border-top: none;
}

#mainnav ul.submenu > li > a {
    display: block;    
    letter-spacing: 1px;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 0 0 26px;
    line-height: 40px;
    -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

#mainnav ul.submenu > li > a:hover {
	background-color: #00aeff;
	color: #fff;
}

#mainnav ul.submenu > li.sub-parent:hover::after {
	right: 18px;
}

#mainnav > ul > li > a:hover,
#mainnav > ul > li.home > a {
   color: #00aeff ;
   position: relative;
}

#mainnav > ul > li.home > a:after {
    content: '';
    position: absolute;
    left: 0;    
    bottom: 25px;
    width: 100%;
    height: 4px;
    background: #00aeff;
    opacity: 1;
}

#mainnav > ul > li > a:after {
    content: '';
    position: absolute;
    left: 0;    
    bottom: 25px;
    width: 0;
    height: 4px;
    background: #00aeff;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
}

#mainnav > ul > li > a:hover:after {
	width: 100%;
	opacity: 1;
}

/* Hover Menu */
#mainnav > ul > li > a {
	position: relative;
}

/* Mobile navigation
---------------------------------------- */
#mainnav-mobi {
   	display: block;
   	margin: 0 auto;
   	width: 100%;
   	position: absolute;
   	background-color: #222222;
   	z-index: 1000;
}

#mainnav-mobi ul {
   	display: block;
   	list-style: none;
   	margin: 0;
   	padding: 0;
}

#mainnav-mobi ul li {
   	margin:0;
   	position: relative;
   	text-align: left;
   	border-top: 1px solid #333333;
   	cursor: pointer
}

#mainnav-mobi ul > li > a {
   	text-decoration: none;
   	height: 50px;
   	line-height: 50px;
   	padding: 0 50px;
   	color: #fff;
}

#mainnav-mobi ul.sub-menu {
   	top: 100%;
   	left: 0;
   	z-index: 2000;
   	position: relative;
   	background-color: #333333;
}

#mainnav-mobi > ul > li > ul > li,
#mainnav-mobi > ul > li > ul > li > ul > li {
   	position: relative;
   	border-top: 1px solid #333333;
}

#mainnav-mobi > ul > li > ul > li > ul > li a {
   	padding-left: 70px !important
}

#mainnav-mobi ul.sub-menu > li > a {
   	display: block;
   	text-decoration: none;
   	padding: 0 60px;
   	border-top-color: rgba(255,255,255,.1);
	-webkit-transition: all 0.2s ease-out;
	   -moz-transition: all 0.2s ease-out;
	     -o-transition: all 0.2s ease-out;
	        transition: all 0.2s ease-out;
}

#mainnav-mobi > ul > li > ul > li:first-child a {
	border-top: none;
}

#mainnav-mobi ul.sub-menu > li > a:hover,
#mainnav-mobi > ul > li > ul > li.active > a {
	color: #fff;
}

/* Button menu mobile */
.btn-menu {
	display: none;
	position: relative;
	background: transparent;
	cursor: pointer;
	margin: 40px 0;
	width: 26px;
	height: 16px;
	float: right;
    margin-right: 15px;
    -webkit-transition: all ease .238s;
       -moz-transition: all ease .238s;
            transition: all ease .238s;
}

.btn-menu:before,
.btn-menu:after, 
.btn-menu span {
	background-color: #00aeff;
    -webkit-transition: all ease .238s;
       -moz-transition: all ease .238s;
            transition: all ease .238s;
}

.btn-menu:before,
.btn-menu:after {
	content: '';
	position: absolute;
	top: 0;
	height: 2px;
	width: 24px;
	left: 0;
	top: 50%;
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
}

.btn-menu span {
	position: absolute;
	width: 12px;
	height: 2px;
	left: 0;
	top: 50%;
	overflow: hidden;
	text-indent: 200%;
}

.btn-menu:before {
	-webkit-transform: translate3d(0, -7px, 0);
	        transform: translate3d(0, -7px, 0);
}

.btn-menu:after {
	width: 17px;
	-webkit-transform: translate3d(0, 7px, 0);
            transform: translate3d(0, 7px, 0);
}

.btn-menu.active:after {
	width: 24px;
}

.btn-menu.active span {
	opacity: 0;
}

.btn-menu.active:before {
	-webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
}

.btn-menu.active:after {
	-webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
}

.btn-submenu {
   position: absolute;
   right: 20px;
   top: 0;
   font: 20px/50px 'FontAwesome';
   text-align: center;
   cursor: pointer;
   width: 70px;
   height: 44px;
}

.btn-submenu:before {
   content: "\f107";
   color: #fff;
}

.btn-submenu.active:before {
   content: "\f106"
}

.btn-menu {
   display: none 
}


/* nav-contact
-------------------------------------------------------------- */
.nav-contact {
	float: right;
	padding: 27px 0 28px;
}

.nav-contact .contact-icon {
	float: left;
	margin-right: 10px;
	color: #00aeff;
	font-size: 35px;
	position: relative;
	top: -5px;
}

.nav-contact .contact-text {
	overflow: hidden;
	font-size: 20px;
	color: #222;
	font-weight: 600;
} 

/* Page title
-------------------------------------------------------------- */
.page-title {
	position: relative;
	padding: 88px 0;
	text-align: center;
}

.page-title.style-1 {
	text-align: left;
}

.page-title-heading h1 {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 36px;
    font-family: 'Poppins',sans-serif;    
}

.page-title .overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba( 0, 0, 0, 0.6 );	
}

/* Breadcrumbs
-------------------------------------------------------------- */
.breadcrumbs ul {
	padding-top: 10px;
}

.breadcrumbs ul li {
	display: inline-block;	
	position: relative;
	margin-right: 25px;
}

.breadcrumbs ul li a {
	font-size: 13px;
    color: #ffffff;
}

.breadcrumbs ul li a:hover {
	color: #00aeff;
}

.breadcrumbs ul li:before {
	position: absolute;
	right: -14px;
    top: 0;
	color: #fff;
	font-family: "FontAwesome";
    content: "\f105";
}

.breadcrumbs ul li:last-child::before {
	width: 0;
	height: 0;
	background-color: transparent;
	content: "";
}

/* Blog
-------------------------------------------------------------- */
.entry p {
	margin-bottom: 20px;
}

.main-content {
	padding: 100px 0;
}

article {
	margin-bottom: 40px;
}

article .featured-post {
	position: relative;
}

article .post-comment {
	position: absolute;
	left: 20px;
	top: 20px;
	width: 60px;
	z-index: 20;
	background-color: #00aeff;
	text-align: center;	
	color: #fff;
}

article .post-comment li.date span {
	display: block;
	font-size: 14px;
}

article .post-comment li.date .day {
	font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 12px;
}

article .post-comment li.comment {
	background-color: #273039;
	font-size: 14px;
	font-weight: 600;
	padding: 3px 0;
}

article .post-comment li {
	display: block;
}

article .content-post .title-post {
	font-size: 18px;
    font-weight: 600;    
    letter-spacing: 0.5px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #1d1d1d;
}

article .content-post .title-post a {
	color: #000;
}

article .content-post .title-post a:hover {
	color: #00aeff;
}

article ul.meta-post {
	padding: 0;
	margin: 0;
	margin-bottom: 0;
	margin-top: 5px;	
	margin-bottom: 12px;
}

article ul.meta-post li {
	position: relative;
	display: inline-block;
	padding-left: 20px;
	margin-right: 20px;
	list-style: none;
}

article ul.meta-post li:before {
	position: absolute;
	left: 0;
	top: 0;
	font-family: "FontAwesome";
	content: "\f073";
	font-style: normal;
}

article ul.meta-post li.author {
	padding-left: 0;	
}

article ul.meta-post li.author:before {
	content: "";
}

article ul.meta-post li.categories:before {
	content: "\f02c";
}

article ul.meta-post li.vote:before {
	content: "\f086";
}

article ul.meta-post li a,
article ul.meta-post li {
	font-size: 12px;
    color: #1d1d1d;    
}

article ul.meta-post li a:hover {
	color: #00aeff;
}

article .more-link a {    
    position: relative;
    display: inline-block;
    line-height: 22px;
    padding: 8px 40px 8px 20px;
    font-size: 12px;
    text-transform: uppercase;
    color: #ffffff;
    background: #00aeff;
    border: 1px solid #00aeff;
    -webkit-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

article .more-link a:after {
	font-family: "FontAwesome";
	content: "\f061";
	color: #fff;
	position: absolute;
	right: 18px;
    top: 7px;
    font-size: 12px;
}

article .more-link a:hover {
	color: #fff;
	background: #273039;
	border-color: #273039;
}

/* Blog Single
-------------------------------------------------------------- */
.blog-single .entry h4 {    
    color: #000;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0;
    margin-bottom: 14px;
    margin-top: 25px;
}

.blog-single .entry .flat-onehalf h4 {
	margin-top: 0;
}

.blog-single .category-post-single {
	padding: 0;
	margin: 0;
	list-style: none;
}

.blog-single ul.social-share {
	padding: 0;
	margin: 29px 0 0 0;
	list-style: none;
	padding-bottom: 43px;	
	border-bottom: 1px solid #e5e5e5;
}

.blog-single ul.social-share li {
	display: inline-block;
    font-family: "Poppins", sans-serif;
    color: #333;
    font-size: 16px;
}

.blog-single ul.social-share li a {
	margin: 0 17px;
	color: #999999;
	font-size: 18px;
}

.blog-single ul.social-share li a:hover {
	color: #edb820;
}

/* Navigation posts-navigation */
.blog-single .direction {
    text-align: center;
}

.blog-single .direction {
    text-align: center;
    padding-top: 45px;
    border-top: 1px solid #eeeeee;
}

.blog-single .direction ul li:first-child {
    float: left;
}

.blog-single .direction ul li ul.social-icons li {
    display: inline-block;
    margin-right: 4px;
}

.blog-single .direction ul li ul.social-icons li a {
    width: 36px;
    height: 36px;
    background-color: #f2f2f2;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    color: #6a6a6a;
    border-radius: 50%;
}

.blog-single .direction ul li ul.social-icons li a:hover {
	background-color: #00aeff;
	color: #fff;
}

.accent-button a:hover {
    opacity: 0.9;
    transition: all 0.5s;
}

.accent-button a {
    padding: 10px 31px;
    background: #00aeff;
    border-radius: 25px;
    color: #fff;
    text-transform: capitalize;
    transition: all linear .3s;
    border: 1px solid #00aeff;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
}

.accent-button a:hover {
	background-color: #333;
	color: #fff;
	border-color: #333;
}

.black-button a {
    padding: 10px 31px;
    background: #222;
    border-radius: 25px;
    color: #fff;
    text-transform: capitalize;
    transition: all linear .3s;
    border: 1px solid #222;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
}

.black-button a:hover {
	background-color: #00aeff;
	color: #fff;
	border-color: #00aeff;
}

.blog-single .direction ul li ul.social-icons {
    padding: 0;
    text-align: center;
    list-style: none;
}

.blog-single .direction ul li:last-child {
    float: right;
}

.blog-single .direction ul li {
    display: inline-block;
}

/* Comment List */
.comment-list article {
	margin-bottom: 5px;
}

.comment-list ol.children {
	margin-left: 30px;
}

.comments-area .comments-title {
	border-top: 1px solid #f0f0f0;
	margin-top: 30px;
	padding-top: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;    
    font-weight: 600;
    letter-spacing: 0.3px;
}

.comments-area ol.comment-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.comments-area ol.comment-list article {
	border-bottom: 1px solid #e5e5e5;
    padding: 30px 0;
}

.comments-area ol.comment-list article .comment-author {
	float: left;
	margin-right: 20px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	border: 2px solid #f0f0f0;
}

.comments-area ol.comment-list article .comment_content .comment_meta {
	margin-bottom: 20px;
}

.comments-area ol.comment-list article .comment-text {
	padding-bottom: 50px;
}

.comments-area ol.comment-list article .comment-text h5 {	
    font-size: 14px;
    line-height: 23px;
    color: #333;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 5px;
}

.comments-area ol.comment-list article .comment_text {
	padding-bottom: 37px;
	overflow: hidden;
}

.comments-area ol.comment-list article {
	position: relative;
}

.comments-area ol.comment-list article .comment-metadata .date {	
    font-size: 12px;
    line-height: 23px;    
    color: #d0d0d0;    
}

.comments-area ol.comment-list article .reply .comment-reply-link {
	font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    color: #00aeff;
    text-transform: uppercase;
    position: absolute;
	right: 0;
	bottom: 29px;	
    border-radius: 20px;    
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.comments-area ol.comment-list article .reply .comment-reply-link i {
	margin-left: 10px;
}

.comments-area ol.comment-list article .reply .comment-reply-link:hover {	
	color: #273039;
}

.comments-area ol.comment-list article .unapproved {
	float: right;
}
	
.comments-area ol.comment-list article .gravatar img {
	border-radius: 50%;
}

/* Comment form */
.comment-respond .comment-reply-title {
	margin-top: 60px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.3px;
}

.comment-respond .comment-notes,
.comment-respond .comment-form-email {
	width: 50%;
	float: left;
}

.comment-respond .comment-notes {
	padding-right: 10px;
}

.comment-respond .comment-form-email {
	padding-left: 10px;
}

.comment-respond .message,
.comment-respond input[type="email"],
.comment-respond input[type="text"] {
	width: 100%;
}

.comment-respond .name-container,
.comment-respond .email-container,
.comment-respond .message {
	position: relative;
}

.comment-respond .name-container:before,
.comment-respond .email-container:before,
.comment-respond .message:before {
	content: "\f007";
    font-family: "FontAwesome";
    font-size: 14px;
    line-height: 23px;
    position: absolute;
    top: 14px;
    left: 15px;
    color: #bcbcbc;
}

.comment-respond .email-container:before {
	content: "\f0e0";
	left: 30px;
}

.comment-respond .message:before {
	content: "\f075";
}

.comment-respond textarea {	
	height: 200px;
}

.comment-respond .comment-submit:hover {
	background-color: #273039;
	color: #fff;
	border-color: #273039;
}

#contactform input, #contactform textarea {
	color: #000;
}

/* Pagination
-------------------------------------------------------------- */
.blog-pagination {
	padding-top: 33px;
	border-top: 2px solid #f0f0f0;
	text-align: center;
}

.blog-pagination .flat-pagination li {
	display: inline-block;
	margin-left: 8px;
}

.blog-pagination .flat-pagination li a {	
    font-size: 12px;
    font-weight: 600;
    width: 45px;
    height: 45px;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    background-color: #00aeff;
    border-radius: 50%;
    color: #fff;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
}

.blog-pagination .flat-pagination li a:hover {
	background-color: #273039;
	color: #fff;
}

.blog-pagination .flat-pagination li.prev a:hover,
.blog-pagination .flat-pagination li.next a:hover {
	background: transparent;
	color: #00aeff;
}

.blog-pagination .flat-pagination li.prev i,
.blog-pagination .flat-pagination li.next i {
	font-weight: 700;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
		-ms-transition: all 0.3s ease-in-out;
		 -o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
} 

.blog-pagination .flat-pagination li.prev {
	float: left;
	padding-left: 0;
	margin-left: 0;
	background-color: transparent;	
	color: #8da1b6;
}

.blog-pagination .flat-pagination li.prev a {
	text-align: left;
	background-color: transparent;
	color: #8da1b6;
}

.blog-pagination .flat-pagination li.next {
	float: right;
	padding-right: 0;
	margin-left: 0;
	background-color: transparent;
}

.blog-pagination .flat-pagination li.next a {
	text-align: right;
	background-color: transparent;
	color: #8da1b6;
}

.blog-pagination .flat-pagination li.active {
	color: #fff;
    font-size: 12px;
    font-weight: 600;
    width: 45px;
    height: 45px;
    display: inline-block;
    text-align: center;
    line-height: 45px;
    background-color: #273039;
    border-radius: 50%;
}

/* Gird for page single
-------------------------------------------------------------- */
.main-content.page-single {
	padding: 50px 0;
}

.page-single .page-content {
	width: 65.81196581196581%;
	float: left;
}

.page-single .page-sidebar {
	width: 34.18803418803419%;
	float: left;
}

/* Sidebar
-------------------------------------------------------------- */
.sidebar {
	padding-left: 50px;
	border-left: 1px solid #e5e5e5;
	margin-left: 50px;
}

.sidebar-left .sidebar {
	padding-left: 0;
	margin-left: 0;
	padding-right: 50px;
}

.sidebar .widget {
	margin-bottom: 45px;	
	position: relative;
}

.widget ul  {
	padding: 0;
	margin: 0;
}

.widget ul li {
	list-style: none;
	padding: 7px 0 8px;
}

.widget ul li a {
	font-size: 14px;
    color: #3d3d3d;
    font-family: "Poppins", sans-serif;
}

.widget ul li a:hover {
	color: #00aeff;
}

.widget .widget-title {	
	margin-top: 0px;
    font-size: 16px;    
    font-family: "Poppins", sans-serif;    
    color: #1a1a1a;
    font-weight: 600;
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.sidebar .widget .widget-title:before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: #f0f0f0;
}

.sidebar .widget .widget-title:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 40px;
    height: 2px;
    background: #00aeff;
}

/* Widget search */
.widget.widget_search .widget-title {
	margin-bottom: 37px;
}

.widget.widget_search .search-form {
    width: 100%;
	height: 50px;
	position: relative;
	margin: 0;
}

.widget.widget_search .search-form label {
	display: block;
}

.widget.widget_search .search-form input[type="search"] {
	border-color: #d7d7d7;
	width: 100%;
}

.widget.widget_search .search-form input[type="search"]:focus {
	border-color: #00aeff;
}

.widget.widget_search .search-form .search-submit {
    background-image: url( ../images/search.svg );
    background-color: transparent;
    background-size: 13px 13px;
    background-position: center right;
    background-repeat: no-repeat;
    width: 24px;
    height: 21px;    
    padding: 5px 0 5px 10px;
    text-indent: -9999px;
    padding: 0;
    position: absolute;
    right: 21px;
    top: 13px;    
    border-radius: 0;
    border: 0;
}

/* Widget categories */
.widget.widget_categories ul li {	
	position: relative;	
}

.widget.widget_categories ul li span {	
	color: #00aeff;
}

/* Widget recentpost */
.sidebar .widget-recent-news {
	margin-bottom: 58px;
}

.services-1 .sidebar .widget-recent-news {
	margin-bottom: 0;
}

.widget.widget-recent-news ul li {
	padding: 20px 0 8px;
	overflow: hidden;
}

.widget.widget-recent-news ul li:last-child {
	padding-bottom: 0;
}

.widget.widget-recent-news ul li .thumb {
	float: left;
	margin-right: 13px;	
	max-width: 80px;
}

.widget.widget-recent-news ul li .text {
	overflow: hidden;	
	position: relative;	
}

.widget.widget-recent-news ul li .post_meta {
	font-size: 12px;
	position: relative;
	padding-left: 20px;
	color: #00aeff;
}

.widget.widget-recent-news ul li .post_meta:before {
	font-family: 'simple-line-icons';
	content: "\e075";
	position: absolute;
	left: 2px;
	top: -2px;
	color: #00aeff;
	font-weight: 700;
}

.widget.widget-recent-news ul li .text p {
	padding-left: 20px;
	margin-bottom: 7px;
	font-weight: 600;
	font-size: 14px;
}

.widget.widget-recent-news ul li .text h6 {
	line-height: 23px;
	margin-top: -5px;
}

/* Widget tag */
.widget.widget_tag_cloud .widget-title {
	margin-bottom: 32px;
}

.widget.widget_tag .tag-list a {
	display: inline-block;
	color: #6a6a6a;
    font-size: 12px;
    font-weight: 600;    
    display: inline-block;
    text-align: center;
    line-height: 38px;
    background-color: #f2f2f2;
    padding: 0 15px;   
    margin: 0 5px 5px 0;
}

.widget.widget_tag .tag-list a.active,
.widget.widget_tag .tag-list a:hover {
	color: #fff;
	background-color: #00aeff;
}

/* GoTop Button
-------------------------------------------------------------- */
.go-top {
   	position: fixed !important;
   	right: -35px;
	bottom: 15px;   
   	width: 40px;
   	cursor: pointer;   
    background-color: #00aeff;
   	height: 40px;
   	border-radius: 50%;
   	line-height: 40px;
   	text-align: center;   	
   	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
   	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	   	filter: alpha(opacity=0);
	  	opacity: 0;
}

.go-top.show {
	right: 15px;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	visibility: visible;
	z-index: 99;
}

.go-top i {
	font-size: 18px;
	color: #fff;
	padding-bottom: 3px;	
}

.go-top:hover {
    background-color: #273039;
}

.go-top:hover i {
	color: #fff;
}

/* Footer
-------------------------------------------------------------- */
footer {
    background-color: #273039;
    padding: 80px 0 0;
    color: #8da1b6;    
}

footer.style1 {
	padding: 80px 0 74px;
}

footer a {
	color: #999999;
}

footer a:hover {
	color: #feb800;
}

/* Footer widget
-------------------------------------------------------------- */
.footer-widgets ul li a {
	color: #8da1b6;
}

.footer-widgets .widget .widget-title {
	position: relative;
    font-size: 18px;
    line-height: 1.4em;
    padding: 0px 0px 18px;
    margin-bottom: 25px;
    font-weight: 600;
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #ffffff;
    text-transform: uppercase;
}

.footer-widgets .widget .widget-title:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 50px;
    height: 2px;
    background: #11c3f0;
}

.footer-widgets ul.one-half {
	width: 50%;
	float: left;
}

/* Logo footer */
.logo.logo-footer {
	margin-bottom: 19px;
}

.footer-widgets .widget-brand p {
    font-size: 16px;
    line-height: 27px;
    font-weight: 300 !important;
    margin-bottom: 11px;
}

.footer-widgets .widget-brand {
    border-bottom: 2px solid #35424f;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

/* Widget social */
.footer-widgets .widget-social .social-list {
	margin-bottom: 12px;
}

.footer-widgets .widget-social .social-list:after {
	content: "";
	display: table;
	clear: left;
}

.footer-widgets .widget-social .social-list a {
	display: block;
	float: left;
	width: 40px;
	height: 40px;
	background: rgb(53, 66, 79);
	text-align: center;
	line-height: 38px;
	margin-left: 10px;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
		 -o-border-radius: 3px;
			border-radius: 3px;
}

.footer-widgets .widget-social .social-list a:first-child {
	margin-left: 0;
}

.footer-widgets .widget-social .social-list img {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
   filter: alpha(opacity=40);
   opacity: 0.4;
   -webkit-transition: opacity 0.3s ease-in-out;
      -moz-transition: opacity 0.3s ease-in-out;
       -ms-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
           transition: opacity 0.3s ease-in-out;
}

.footer-widgets .widget-social .social-list a:hover img {
   -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
   filter: alpha(opacity=80);
   opacity: 0.8;
}

.footer-widgets .widget-social a {
	color: #8da1b6;
}

.footer-widgets .widget-social a:hover {
	color: #00aeff;
}

/* Widget Service */
.footer-widgets .widget.widget-services {
	padding-left: 50px;
}

.footer-widgets .widget.widget-services ul li {
	position: relative;
	padding-left: 20px;
}

.footer-widgets .widget.widget-services ul li:before {
	position: absolute;
    left: 0;
    top: 6px;
    font-family: "FontAwesome";
    content: "\f105";  
	line-height: 30px;
    font-size: 15px;
}

/* Widget Newsletter */
.widget.widget-newsletter {
	padding-left: 40px;
}

.widget.widget-newsletter p {
	margin-bottom: 30px;
	font-size: 15px;
}

#subscribe-form {
	position: relative;
}

input#subscribe-email {
	color: #000;
}

#subscribe-form button {
	border-radius: 3px;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0 20px 0 15px;
}

#subscribe-form button:hover {
	background: rgb(53, 66, 79);
	color: #fff;
	border-color: rgb(53, 66, 79);
}

#subscribe-form button i {
	font-size: 18px;
}

/* Sidebar Page About */
.sidebar-nav {
	margin-bottom: 40px;
}

.sidebar-nav ul {
	padding: 0;
	list-style: none;
}

.sidebar-nav ul li a {
	display: block;
	padding: 15px 20px 11px 20px;
	margin-bottom: 2px;
	color: #333;
	font-weight: 700;
	background-color: #f0f0f0;
}

.sidebar-nav ul li a.active {
	padding-left: 16px;
	border-left: 4px solid #eab702;
}

.sidebar-nav ul li a:hover {
	background-color: #f9f9f9;
}

.brochure {
	margin-bottom: 42px;
	padding: 28px 18px 14px 24px;
	border: 1px solid #ccc;
	font-size: 13px;
}

.brochure h3 {
	margin-top: 0;
	margin-bottom: 9px;
	font-size: 18px;
	font-weight: 600;
}

.brochure p {
	margin-bottom: 18px;
}

.page-service .brochure p {
	margin-bottom: 18px;
}

.brochure .btn-brochure {
	margin-bottom: 20px;
}

.brochure .btn-download a {
	position: relative;
	width: 97%;
	margin-bottom: 0;
	padding: 12px 19px 9px;
	font-weight: 300;
	letter-spacing: 0.2px;
}

.brochure .btn-download a:after {
	background: url(../images/common/icon_pdf_white.png) no-repeat;
	content: "";
	width: 30px;
	height: 30px;
	position: absolute;
	top: 15px;
	right: 3px;
}

/* About-content-text */
.about-content-text {
	margin-bottom: 40px;
}

.about-content-text h4 {
	font-weight: 700;
    line-height: 1.1;    
    margin: 30px 0 20px 0;
    color: #eab702;
    font-size: 24px;
}

.about-content-text p {
	margin-bottom: 20px;
}

/* Page About
-------------------------------------------------------------- */
.page-about .flex-direction-nav a {
	top: 100%;
	margin-top: -40px;
}

.page-about .flex-direction-nav .flex-prev {
	left: 100%;
	margin-left: -85px;
}

/* Bottom
-------------------------------------------------------------- */
.copyright {
	background-color: #273039;
	padding: 11px 0;
	color: #8da1b6;	
	text-align: center;
	border-top: 1px solid rgba(255,255,255,0.20);
	padding-top: 15px;
	margin-top: 32px;
}

.copyright a {
	color: #8da1b6;
}

.copyright a:hover {
	color: #00aeff;
}

/* Parallax
-------------------------------------------------------------- */
.parallax .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba( 0, 0, 0, 0.6 );
}

.parallax {
	width: 100%;
	background-attachment: fixed;
	background-position: 50% 0;
}

.parallax1 { background-image: url(../images/parallax/bg-parallax1.jpg); }

.parallax2 { background-image: url(../images/parallax/bg-parallax2.jpg); }

.parallax3 { background-image: url(../images/parallax/bg-parallax3.jpg); }

.parallax4 { background-image: url(../images/parallax/bg-parallax4.jpg); }

/* Revolution Slider
-------------------------------------------------------------- */
.tp-banner-container{
	max-height: 550px !important;
	width: 100% !important;
	position: relative;
	overflow: hidden !important;
	padding: 0;
	background-color: #fff;
}

.tp-banner-container-style2{
	max-height: 680px !important;
	width: 100% !important;
	position: relative;
	overflow: hidden !important;
	padding: 0;
	background-color: #fff;
}

.tp-bullets.simplebullets.navbar {
	height: 35px;
	padding: 0px 0px;
}

.tp-bullets.simplebullets .bullet {
	cursor: pointer;
	position: relative !important;
	background: #fff !important;	
	width: 10px !important;
	height: 10px !important;	
	display: inline-block;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
       filter: alpha(opacity=60);
      opacity: 0.6;	
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
	margin-right: 5px !important;
	-webkit-border-radius: 50%;	
	   -moz-border-radius: 50%;
	     -o-border-radius: 50%;
	    -ms-border-radius: 50%;
			border-radius: 50%;
	-webkit-transition: background-color 0.2s, border-color 0.2s;
	   -moz-transition: background-color 0.2s, border-color 0.2s;
	     -o-transition: background-color 0.2s, border-color 0.2s;
	    -ms-transition: background-color 0.2s, border-color 0.2s;
			transition: background-color 0.2s, border-color 0.2s;
	float:none !important;
}

.tp-bullets.simplebullets .bullet.last {
	margin-right: 0px
}

.tp-bullets.simplebullets .bullet:hover,
.tp-bullets.simplebullets .bullet.selected {
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
	opacity: 1;
	background: #fff !important;
	width: 10px !important;
	height: 10px !important;
	-webkit-border-radius: 50%;	
	   -moz-border-radius: 50%;
	     -o-border-radius: 50%;
	    -ms-border-radius: 50%;
			border-radius: 50%;	
}

.tp-bullets.preview4 .bullet.selected,
.tp-bullets.preview4 .bullet:hover {
	border: 5px solid #fff !important;
}

/* Preload
-------------------------------------------------------------- */
.loading-overlay {
    background: #FFF;
    color: #424242;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999999;
}

.loader, .loader:after {    
    width: 30px;
    height: 30px;
}

.loader {
    margin: 20% auto;
    border-radius: 50%;
    font-size: 6px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(194, 193, 193, 0.5);
    border-right: 1.1em solid rgba(199, 197, 197, 0.5);
    border-bottom: 1.1em solid rgba(203, 203, 203, 0.5);
    border-left: 1em solid #00aeff;
    -webkit-animation: fa-spin 2s infinite linear;
           animation: fa-spin 2s infinite linear;     
}

.error404 .page-wrap {
	padding: 0 0 100px;
}

/* Switcher
-------------------------------------------------------------- */
.switcher-container {
   position: fixed;
   left: -220px;
   top: 80px;
   width: 220px;
   background-color: #000;
   z-index: 99999999;
}

.switcher-container h2 {
	color: #fff;
	font-size: 13px;
	font-weight: 700;
	letter-spacing: 0;
    text-transform: uppercase;
	height: 45px;
	line-height: 45px;
	padding-left: 20px;
	padding-right: 30px;
	margin: 0;
}

.switcher-container h2 a {
   background-color: #000;
   display: block;
   position: absolute;
   right: -45px;
   top: 0;
   width: 45px;
   height: 45px;
   line-height: 45px;
   text-align: center;
   outline: 0;
   color: #fff;
   -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.switcher-container h2 a.active {
	right: 0;
}

.switcher-container h2 a.active:after {
	position: absolute;
	right: 21px;
	top: 0;
	content: "\f104";
	font-family: "FontAwesome";
	color: #fff;
	font-size: 22px;
}

.switcher-container h2 a.active i {
	display: none;
}

.switcher-container h2 a:hover,
.switcher-container h2 a:focus {
   text-decoration: none;
}

.switcher-container h2 i {
   	margin-top: 10px;
   	font-size: 25px;
   	color: #999;
    -webkit-animation: fa-spin 2s infinite linear;
            animation: fa-spin 2s infinite linear; 
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.switcher-container h2 i:hover {
	color: #fff;
}

.switcher-container h3 {
   font-size: 12px;
   font-weight: 700;
   color: #fff;
   margin: 0;
   line-height: 22px;
   margin-bottom: 10px;
}

.switcher-container .selector-box {   
   color: #fff;
   overflow: hidden;
}

.switcher-container .layout-switcher {
   margin: 0 0 10px 0;
   overflow: hidden;
}

.switcher-container .layout-switcher a.layout {
   float: left;
   display: block;
   cursor: pointer;
   text-align: center;
   font-weight: 700;
   padding: 10px 20px;
   margin-left: 10px;
}

.switcher-container .layout-switcher a.layout:first-child {
   margin-left: 0;
}

.switcher-container .layout-switcher a.layout:hover {
   color: #fff;
   cursor: pointer;
}

.switcher-container .color-box {
   height: auto;
   overflow: hidden;
   margin-bottom: 6px;
}

.switcher-container .styleswitch {
    margin-bottom: 10px;
}

.sw-odd {
	background-color: #272727;
	padding: 21px 0 30px 20px;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		 -o-transition: all 0.3s;
			transition: all 0.3s;
}

.sw-even {
	background-color: #191919;
	padding: 21px 0 25px 20px;
	-webkit-transition: all 0.3s;
	   -moz-transition: all 0.3s;
		-ms-transition: all 0.3s;
		 -o-transition: all 0.3s;
			transition: all 0.3s;
}

.sw-even a {	
	font-family: "Karla", sans-serif;
    text-transform: uppercase;
	font-size: 12px;
	line-height: 40px;
	color: #fff;
	border: 1px solid #fff;
	padding: 10px 20px 10px 20px;
	margin-right: 10px;
	letter-spacing: 1.8px;
}

.sw-even a:hover {
	background-color: #32bfc0;
	border: 1px solid #32bfc0;
	color: #fff !important;
}

.sw-light {
	background-color: #fff;
	color: #000 !important;
}

.sw-odd a {	
	font-size: 16px;
	color: #fff;
	width: 100%;
	display: inline-block;
	line-height: 17px;
	width: 100%;
	position: relative;
	padding-left: 47px;
}

.sw-odd .ws-colors a:before {
	background: none;
}

.sw-odd .ws-colors a {
	position: relative;
	width: auto;
	padding: 0;	
	width: 30px;
	height: 30px;
	background-color: #333;	
	display: inline-block;
	margin-right: 5px;	
	overflow: hidden;
}

.sw-odd .ws-colors a.current:before {
	position: absolute;
    left: 8px;
    top: 6px;
	font-family: FontAwesome;
	content: "\f00c";
	color: #fff;
	z-index: 999;
	text-shadow: 0 0 2px rgba( 0, 0, 0, 1 );
}

.sw-odd .ws-colors a:after {
	position: absolute;
    right: -3px;
    top: 2px;
    content: "";
    width: 0;
    height: 0;
    border-bottom: 21px solid transparent;
    border-top: 21px solid transparent;
    border-left: 21px solid #00aeff;
    transform: rotate(45deg);
}

.sw-odd .ws-colors a span.cl1,
.sw-odd .ws-colors a span.cl2,
.sw-odd .ws-colors a span.cl3,
.sw-odd .ws-colors a span.cl4,
.sw-odd .ws-colors a span.cl5,
.sw-odd .ws-colors a span.cl6 {
    position: absolute;
    left: 7px;
    top: -10px;
    width: 15px;
    height: 50px;
    background: #00aeff;
    transform: rotate(45deg);
    z-index: 1;
}

.sw-odd .ws-colors a span.cl2 {
	background-color: #f05323;
}

.sw-odd .ws-colors a span.cl3 {
	background-color: #43ca83;
}

.sw-odd .ws-colors a span.cl4 {
	background-color: #9baec8;
}

.sw-odd .ws-colors a span.cl5 {
	background-color: #e53a40;
}

.sw-odd .ws-colors a span.cl6 {
	background-color: #3b8686;
}

.sw-odd #color2 {
	background-color: #333;
}

.sw-odd .ws-colors a#color2:after {
	border-bottom: 21px solid transparent;
    border-top: 21px solid transparent;
    border-left: 21px solid #f05323;
}

.sw-odd #color3 {
	background-color: #333;
}

.sw-odd .ws-colors a#color3:after {
	border-bottom: 21px solid transparent;
    border-top: 21px solid transparent;
    border-left: 21px solid #43ca83;
}

.sw-odd #color4 {
	background-color: #333;
}

.sw-odd .ws-colors a#color4:after {
	border-bottom: 21px solid transparent;
    border-top: 21px solid transparent;
    border-left: 21px solid #d9e1e8;
}

.sw-odd #color5 {
	background-color: #333;
}

.sw-odd .ws-colors a#color5:after {
	border-bottom: 21px solid transparent;
    border-top: 21px solid transparent;
    border-left: 21px solid #090707;
}

.sw-odd #color6 {
	background-color: #333;
}

.sw-odd .ws-colors a#color6:after {
	border-bottom: 21px solid transparent;
    border-top: 21px solid transparent;
    border-left: 21px solid #79bd9a;
}

.sw-even h3 {
	margin-bottom: 6px;
}

/* Pattern */
.sw-pattern.pattern {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	   	filter: alpha(opacity=0);
	   opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	   -moz-transition: all 0.3s ease-in-out;
	    -ms-transition: all 0.3s ease-in-out;
	     -o-transition: all 0.3s ease-in-out;
	        transition: all 0.3s ease-in-out;
	position: absolute;
	left: 0;
	top: 98%;
	background-color: #000000;
	width: 100%;
	z-index: -1;
	padding: 20px 0 30px 20px;
}

.sw-pattern.pattern a {	
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
}

.sw-pattern.pattern a.current:before {
	position: absolute;
    left: 12px;
    top: 6px;
	font-family: FontAwesome;
	content: "\f00c";
	color: #fff;
	text-shadow: 0 0 2px rgba( 0, 0, 0, 1 );
}

/* Boxed
-------------------------------------------------------------- */
.home-boxed .boxed {
	z-index: 0;
	width: 92.708%;
	margin: 0 auto;
	background: #fff;
	height: 100%;
  	-webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.02);
  	   -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.02);
  	        box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.02);
}

/* Site-off-canvas
-------------------------------------------------------------- */
#site-off-canvas .widget.widget_search {
	padding-top: 60px;
	margin-bottom: 45px;    
	position: relative;
}

#site-off-canvas .widget.widget-categories .widget-title:before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background: #f0f0f0;
}

#site-off-canvas .widget.widget-categories .widget-title:after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 40px;
    height: 2px;
    background: #00aeff;
}

#site-off-canvas .close {
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
	-webkit-opacity: 0;
	 -khtml-opacity: 0;
	   -moz-opacity: 0;
	   opacity: 0;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	    filter: alpha(opacity=0);
	display: none\9;
	visibility: hidden;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.8);
	z-index: 99999;
	-webkit-transform: translateX(0);
	    -ms-transform: translateX(0);
	        transform: translateX(0);
}

.off-canvas-active #site-off-canvas .close {
	-webkit-opacity: 1;
	 -khtml-opacity: 1;
	   -moz-opacity: 1;
	        opacity: 1;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	filter: alpha(opacity=100);
	display: block\9;
	visibility: visible;
	-webkit-transform: translateX(-270px);
	    -ms-transform: translateX(-270px);
	        transform: translateX(-250px);
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

.off-canvas-active #site-off-canvas .wrapper {	
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	transform: translateX(0);
}

#site-off-canvas .wrapper {
	position: fixed;
	right: 0;
	bottom: 0;
	top: 0;
	width: 270px;
	background: #ffffff;
	z-index: 999999;
	overflow: auto;
	padding: 30px;
	-webkit-transform: translateX(270px);
	-ms-transform: translateX(270px);
	transform: translateX(270px);
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

/* Porfolio Detail
-------------------------------------------------------------- */
ul.entry-details-content {
	margin-bottom: 50px;
}

h3.title-project-detail {
	position: relative;
    margin-top: 0px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #121212;
    margin-bottom: 37px;
    padding-top: 50px;
}

h3.title-project-detail:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 15px;
    height: 10px;
    background-color: #000;
}

h3.title-project-detail:after {
    content: "";
    position: absolute;
    left: 16px;
    top: 0;
    width: 15px;
    height: 10px;
    background-color: #eab702;
}

.entry-details-content li {
	list-style: none;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0 10px 25px;
    position: relative;
}

.entry-details-content li:before {
	font-family: "FontAwesome";
    margin-right: 10px;
    position: absolute;
    left: 0;
}

.entry-details-content li.date:before {
	content: "\f073";
}

.entry-details-content li.location:before {
	    content: "\f041";
}

.entry-details-content li.surface-area:before {
	content: "\f0b2";
}

.entry-details-content li.investor:before {
	content: "\f0f8";
}

.entry-details-content li.value:before {
	content: "\f0d6";
}

.entry-details-content li.categories:before  {
	content: "\f0c9";
}

.entry-details-content li.tags:before  {
	content: "\f02c";
}

.entry-details-content li strong {
	font-weight: normal;
}

.entry-details-content li p {
	float: right;
    text-align: right;
    max-width: 60%;
    color: #b3b3b3;
}

/* request-prosopal
-------------------------------------------------------------- */
.request-prosopal {
	margin-left: 50px;
    padding: 63px 45px;
    background-color: #273039;
}

.request-prosopal h2 {
	font-size: 24px;
	color: #fff;
	font-weight: 600;
	margin-bottom: 20px;
}

.request-prosopal label {
	color: #8da1b6;
}

.request-prosopal select,
.request-prosopal input[type="text"],
.request-prosopal input[type="number"], 
.request-prosopal input[type="email"] {
	border: 1px solid #fff;
	margin-bottom: 10px;
	background-color: #243444;
	border-color: #243444;
}

.request-prosopal select {
	color: #fff;
}

.request-prosopal .form-submit {
	margin-top: 20px;
}

.request-prosopal .form-submit:hover {
	opacity: 0.9;
}

.blog-posts.blog-single .request-prosopal {
	margin-left: 0;
	padding: 63px 30px;
	margin-bottom: 45px;
}

.case-single .sidebar {
	margin-left: 0;
	border-left: 0;
}

/* Flat counter
-------------------------------------------------------------- */
.flatcounter-wrap .flat-counter {
	width: 33.33%;
	float: left;
}

.flat-counter .numb-count {
	font-size: 65px;
    line-height: 65px;
    color: #00aeff;
    position: relative;
    display: inline-block;
    font-weight: 500;
    margin-bottom: 10px;
}

.flat-counter .name-count {
	font-size: 15px;
}

.flat-counter .numb-count::before {
    position: absolute;
    right: -20px;
    top: 0;
    content: "+";
    font-size: 35px;
    color: #03a9f5;
}

/* Flat accordion
-------------------------------------------------------------- */
.flat-accordion.styles-2 {
	margin-bottom: 45px;
}

/* Services style2
-------------------------------------------------------------- */
.post-wrap.services-2 {
	margin: 0 -15px;
}

.services-2 .iconbox {
	width: 50%;
	float: left;
	padding: 0 15px;
}
	
    
	
